.Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 25px auto;
  padding: 15px;
  width: 30%;
  background-color: #f6ccd4;
  border-radius: 5px;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .Container {
    width: 95%;
  }
}
