@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.Container {
  font-family: "Pacifico", cursive;
  color: #f17588;
}

.Body {
  width: 70%;
  margin: 0 auto;
  font-size: 25px;
  line-height: 1.2;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .Body {
    width: 95%;
    font-size: 20px;
  }
}
