.Container {
  margin-top: 50px;
  margin-left: 50px;
  width: 250px;
  height: 350px;
  text-align: left;
  font-size: 20px;
  display: block;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px #f1c6cd;
  border-radius: 15px;
  position: relative;
  transition: all 0.1s ease-in-out;
}

.CardImage {
  width: 100%;
  height: 65%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-attachment: scroll;
  object-fit: cover;
  position: absolute;
  transition: all 0.1s ease-in-out;
}

.CardInfo {
  top: 65%;
  position: absolute;
  padding: 10px 15px;
  color: #f17588;
}

.CardCategory {
  font-weight: bold;
}

.CardTitle {
  margin-top: 5px;
  font-size: 25px;
}

.Container:hover {
  transform: scale(1.1);
}

.Container:hover .CardImage {
  height: 100%;
  opacity: 0.2;
}
