.Container {
  width: 300px;
  text-align: left;
  font-size: 20px;
  height: auto;
}

.Input {
  background: none;
  width: 100%;
  font-size: 20px;
  height: 50px;
  padding: 10px;
  color: #f17588;
  outline: none;
  border: none;
  border-bottom: 1px solid #f59eab;
  transition: all 0.3s linear;
}

.Textarea {
  font-family: "Source Sans Pro", sans-serif;
  resize: none;
  overflow: hidden;
  height: 50px;
}

.Textarea:focus {
  height: 100px;
}

.Input::placeholder {
  color: #f6abb6;
}

.Input:focus {
  -webkit-box-shadow: 10px 10px 42px -7px #f6abb6;
  -moz-box-shadow: 10px 10px 42px -7px #f6abb6;
  box-shadow: 10px 10px 42px -7px #f6abb6;
  border-color: transparent;
  border-radius: 5px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .Input {
    text-align: center;
  }
}
