.Container {
  padding: 10px;
  width: 100%;
  color: #f17588;
  text-align: left;
  font-size: 20px;
  display: block;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px #f1c6cd;
  border-radius: 15px;
  position: relative;
  transition: all 0.1s ease-in-out;
}

.Header {
  text-align: center;
  font-size: 35px;
  margin-top: 10px;
}

.ABC {
  display: flex;
  width: 90%;
  margin: 10px auto;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.ABCItem {
  width: 25px;
  text-align: center;
  border: none;
  color: #f17588;
  font-size: 17px;
  cursor: pointer;
  outline: none;
  transition: all 0.1s linear;
  background-color: transparent;
}

.ABCItem:active {
  transform: rotate(90deg);
}
