@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.Container {
  width: 30%;
  height: 550px;
  text-align: left;
  font-size: 20px;
  display: block;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px #f1c6cd;
  border-radius: 15px;
  position: relative;
  transition: all 0.1s ease-in-out;
}

.CardImage {
  width: 100%;
  height: 65%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-attachment: scroll;
  object-fit: cover;
  position: absolute;
  transition: all 0.1s ease-in-out;
}

.CardInfo {
  font-family: "Pacifico", serif;
  top: 65%;
  position: absolute;
  padding: 10px 15px;
  color: #f17588;
  font-size: 25px;
  text-align: center;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .Container {
    width: 90%;
    margin: 0 auto 10px auto;
  }
}
